{% load qatemplatetags %}

{% for q in page_obj %}
    <div class="question_container mt-3 mb-3">
        <a href="{{ q.get_absolute_url }}">{{ q.title }} </a>
    </div>
{% endfor %}

    {% if is_paginated %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                <a class="page-link" {% if page_obj.has_previous %} href="?{% query_transform page=page_obj.previous_page_number %}" {% endif %}> Previous </a>
            </li>
            {% for n in paginator.page_range %}

                {% if page_obj.number == n %}

                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{ n }}">{{ n }}
                            <span class="sr-only">(current)</span></a>
                    </li>

                {% elif n > page_obj.number|add:-3 and n < page_obj.number|add:3 %}

                    <li class="page-item">
                        <a class="page-link" href="?{% query_transform page=n %} ">{{ n }}</a>
                    </li>

                {% endif %}
            {% endfor %}

            <li class="page-item  {% if not page_obj.has_next %}disabled{% endif %}">
                <a class="page-link" {% if page_obj.has_next %}href="?{% query_transform page=page_obj.next_page_number %}{% endif %}">Next</a>
            </li>
        </ul>
    </nav>
    {% endif %}